<div id="our-work">
    <div class="container">
        <h3 class="caption text-center">أعمالك مبسطة، إدارة كل ما تحتاجه في نظام واحد</h3>

        <div class="row">
            <div class="col-lg-8 col-md-12 col-sm-12 d-flex justify-content-center align-items-center w-100">
                <div class="d-flex justify-content-center align-items-center">
                    <ul class="nav nav-tabs d-flex justify-content-center gap-4 px-3" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="fin-tab" data-bs-toggle="tab" data-bs-target="#fin" type="button" role="tab" aria-controls="fin" aria-selected="true"><span>المالية</span> <img src="../../assets/images/lock.png" alt="" class="img-fluid"></a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="hr-tab" data-bs-toggle="tab" data-bs-target="#hr" type="button" role="tab" aria-controls="hr" aria-selected="false"><span>HR</span> <img src="../../assets/images/hr.png" alt="" class="img-fluid"></a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="stores-tab" data-bs-toggle="tab" data-bs-target="#stores" type="button" role="tab" aria-controls="stores" aria-selected="false"> <span>المخازن</span><img src="../../assets/images/stores.png" alt="" class="img-fluid"></a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" id="cart-tab" data-bs-toggle="tab" data-bs-target="#cart" type="button" role="tab" aria-controls="cart" aria-selected="false"><span>المشتريات</span><img src="../../assets/images/cart.png" alt="" class="img-fluid"></a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="sale-tab" data-bs-toggle="tab" data-bs-target="#sale" type="button" role="tab" aria-controls="sale" aria-selected="false"><span>المبيعات</span><img src="../../assets/images/Sale-icon.png" alt="" class="img-fluid"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="tab-content text-center mt-4" id="myTabContent">
            <div class="tab-pane fade" id="fin" role="tabpanel" aria-labelledby="fin-tab">محتوى المالية...</div>
            <div class="tab-pane fade" id="hr" role="tabpanel" aria-labelledby="hr-tab">محتوى HR...</div>
            <div class="tab-pane fade" id="stores" role="tabpanel" aria-labelledby="stores-tab">محتوى المخازن...</div>
            <div class="tab-pane fade" id="cart" role="tabpanel" aria-labelledby="cart-tab">محتوى المشتريات...</div>

            <div class="tab-pane fade show active" id="sale" role="tabpanel" aria-labelledby="sale-tab">
                <div class="container">
                    <div class="row justify-content-center align-items-center text-center">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="image d-flex justify-content-center">
                                <img src="../../assets/images/sale-image.png" alt="financial icon" class="img-fluid">
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-12 d-flex align-items-center justify-content-center">
                            <div class="ul-icon-image">
                                <h4 class="mb-3">نظام المبيعات</h4>
                                <ul class="list-unstyled">
                                    <li class="d-flex align-items-center mb-2">
                                        <img src="../../assets/images/Vector.png" alt="" class="img-fluid me-2">
                                        <span>تقارير وتحليلات المبيعات</span>
                                    </li>
                                    <li class="d-flex align-items-center mb-2">
                                        <img src="../../assets/images/Vector.png" alt="" class="img-fluid me-2">
                                        <span>إدارة طلبات البيع</span>
                                    </li>
                                    <li class="d-flex align-items-center mb-2">
                                        <img src="../../assets/images/Vector.png" alt="" class="img-fluid me-2">
                                        <span>إدارة العملاء</span>
                                    </li>
                                    <li class="d-flex align-items-center">
                                        <img src="../../assets/images/Vector.png" alt="" class="img-fluid me-2">
                                        <span>إعداد الفواتير</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
        </div> 
    </div>
</div>
