<div id="fields">
    <div class="container">
        <div class="caption">
            <h2 class="text-color-blue">حل متكامل ومرن يدعم العديد من <span class="text-color-green h2">القطاعات</span></h2>
            <p>نقدم حلولًا تقنية مبتكرة لدعم الشركات في مختلف الصناعات، لمساعدتها على تحقيق النجاح والتحول الرقمي بكفاءة.</p>
        </div>

        <div class="row g-3">
            <div class="col-lg-2 col-md-6 col-sm-12 text-center">
                <div class="image">
                    <img src="../../assets/images/field1.png" alt="field" class="img-fluid mx-auto w-100">
                </div>
            </div>
    
            <div class="col-lg-2 col-md-6 col-sm-12 text-center">
                <div class="image">
                    <img src="../../assets/images/field2.png" alt="field" class="img-fluid mx-auto w-100">
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 text-center">
                <div class="image">
                    <img src="../../assets/images/field3.png" alt="field" class="img-fluid mx-auto w-100">
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 text-center">
                <div class="image">
                    <img src="../../assets/images/field4.png" alt="field" class="img-fluid mx-auto w-100">
                </div>
            </div>
    
            <div class="col-lg-4 col-md-12 text-center">
                <div class="image">
                    <img src="../../assets/images/field5.png" alt="field" class="img-fluid mx-auto">
                </div>
            </div>
        </div>
        
    </div>
</div>