<div id="about">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="about-col col-lg-4 col-md-12 col-sm-12 p-3">
                    <div class="image">
                        <img src="../../assets/images/microtec-logo.png" alt="Microtec Logo" class="img-fluid">
                    </div>
                    <p>
                        شركة رائدة في مجال البرامج المحاسبية، بدأنا منذ 2001 وحتى الآن، تنتشر فروعنا في الوطن العربي، بالمملكة العربية السعودية، ومصر.
                    </p>
                    <div class="social-icons">
                        <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>
                <div class="product-col col-lg-2 col-md-6 col-sm-6">
                    <h6>المنتجات</h6>
                    <ul>
                        <li>O-Red</li>
                        <li>O-Green</li>
                        <li>O-Orange</li>
                        <li>ERP System</li>
                    </ul>
                </div>
                <div class="product-col col-lg-2 col-md-6 col-sm-6">
                    <h6>القطاعات</h6>
                    <ul>
                        <li>التصنيع</li>
                        <li>الخدمات المالية</li>
                        <li>التجارة والتجزئة</li>
                        <li>العقارات والمقاولات</li>
                    </ul>
                </div>
                <div class="product-col col-lg-2 col-md-6 col-sm-6">
                    <h6>روابط سريعة</h6>
                    <ul>
                        <li>الرئيسية</li>
                        <li>عن مايكروتك</li>
                        <li>المنتجات</li>
                        <li>المركز الإعلامي</li>
                    </ul>
                </div>
                <div class="product-col col-lg-2 col-md-6 col-sm-6">
                    <ul>
                        <li>اتصل بنا</li>
                        <li>شبكتنا</li>
                        <li>الأسئلة الشائعة</li>
                    </ul>
                </div>
            </div>
            <p class="text-center mt-4">حقوق النشر محفوظة © شركة ميكروتيك 2025</p>
        </div>
    </div>
    