<div id="service">
    <div class="container">
        <div class="caption py-5">
            <h2 class="text-color-blue">خدامتنا الفريدة</h2>    
            <p>
                نحن ملتزمون بخدمتك وتقديم أفضل الحلول التقنية في جميع الأوقات، لضمان استمرارية عملك بأعلى مستويات الكفاءة والجودة
            </p>
        </div>
        <div class="row g-4">   
            <div class="col-lg-4 col-md-12 col-sm-12 service-card">
                <div class="image">
                    <img src="../../assets/images/service1.png" alt="service" class="img-fluid">
                </div>
                <h6 class="text-color-blue py-1 my-1">تخطيط موارد المؤسسات بالكامل</h6>
                <p class="text-center"> حلول  شاملة تربط كافة أقسام شركتك، مما يعزز تدفق العمليات بسلاسة وتحقيق أقصى كفاءة</p>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 service-card">
                <div class="image">
                    <img src="../../assets/images/service1.png" alt="service" class="img-fluid">
                </div>
                <h6 class="text-color-blue py-1 my-1">تخطيط موارد المؤسسات بالكامل</h6>
                <p class="text-center"> حلول  شاملة تربط كافة أقسام شركتك، مما يعزز تدفق العمليات بسلاسة وتحقيق أقصى كفاءة</p>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 service-card">
                <div class="image">
                    <img src="../../assets/images/service1.png" alt="service" class="img-fluid">
                </div>
                <h6 class="text-color-blue my-1 py-1">تخطيط موارد المؤسسات بالكامل</h6>
                <p class="text-center"> حلول  شاملة تربط كافة أقسام شركتك، مما يعزز تدفق العمليات بسلاسة وتحقيق أقصى كفاءة</p>
            </div>

            
            
    </div>
</div>