

<div id="product">
    <div class="container">
        <div class="caption">
            <h2>المنتجات</h2>
            <p>نقدم حلولًا تقنية مبتكرة لدعم الشركات في مختلف الصناعات، لمساعدتها على تحقيق النجاح والتحول الرقمي بكفاءة.</p>
        
        </div>
    
        <div class="row g-4 justify-content-center align-items-center">
    
            <div class="col-lg-7 col-md-6 col-sm-12 p-4">
                <div class="product-content d-flex flex-column justify-content-start">
                    <p class="text-color-blue">ERP</p>
                    <p>
                        نظام نقاط البيع المتنقلة نظام نقاط البيع المتنقلة نظام نقاط البيع المتنقلة نظام نقاط البيع المتنقلة
                    </p>
                    <div class="me-auto">
                        <button class="btn btn-light">المزيد</button>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-5 col-md-6 col-sm-12">
                <div class="image">
                    <img src="/assets/images/product1.png" alt="product" class="img-fluid">
                </div>
            </div>
    
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="row g-3">
                    <div class="col-lg-6">
                        <div class="product-content d-flex flex-column justify-content-start">
                            <p class="text-color-blue">ERP</p>
                            <p>
                                نظام نقاط البيع المتنقلة نظام نقاط البيع المتنقلة نظام نقاط البيع المتنقلة نظام نقاط البيع المتنقلة
                            </p>
                            <div class="me-auto">
                                <button class="btn btn-light">المزيد</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="image">
                            <img src="/assets/images/product2.png" alt="product" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="row g-3">
                    <div class="col-lg-6">
                        <div class="product-content d-flex flex-column justify-content-start">
                            <p class="text-color-blue">ERP</p>
                            <p>
                                نظام نقاط البيع المتنقلة نظام نقاط البيع المتنقلة نظام نقاط البيع المتنقلة نظام نقاط البيع المتنقلة
                            </p>
                            <div class="me-auto">
                                <button class="btn btn-light">المزيد</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="image">
                            <img src="/assets/images/product3.png" alt="product" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="row g-3">
                    <div class="col-lg-6">
                        <div class="product-content d-flex flex-column justify-content-start">
                            <p class="text-color-blue">ERP</p>
                            <p>
                                نظام نقاط البيع المتنقلة نظام نقاط البيع المتنقلة نظام نقاط البيع المتنقلة نظام نقاط البيع المتنقلة
                            </p>
                            <div class="me-auto">
                                <button class="btn btn-light">المزيد</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="image">
                            <img src="/assets/images/product3.png" alt="product" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="row g-3">
                    <div class="col-lg-6">
                        <div class="product-content d-flex flex-column justify-content-start">
                            <p class="text-color-blue">ERP</p>
                            <p>
                                نظام نقاط البيع المتنقلة نظام نقاط البيع المتنقلة نظام نقاط البيع المتنقلة نظام نقاط البيع المتنقلة
                            </p>
                            <div class="me-auto">
                                <button class="btn btn-light">المزيد</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="image">
                            <img src="/assets/images/product4.png" alt="product" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>