/* You can add global styles to this file, and also import other style files */
:root{
    --main-color:#F9F9F9;
    --green-color:#1A90B0;
    --blue-color:#30486D;
    --white-color:#FAFAFA
}
*{
    text-decoration: none;
    list-style: none;
    font-size: 16px;

}
body {
    font-family: 'IBM Plex Sans', sans-serif;
}

.text-color-blue{
    color: var(--blue-color);
}

.text-color-green{  
    color: var(--green-color);
}
.caption{
    display: flex;
    flex-direction: column;
    align-items: center;
   padding-top: 50px;
   padding-bottom: 50px;
}

/* Extra small devices (phones) */
@media (max-width: 576px) { 
    body{
        font-size: 14px;
    }
 }
